body {
  background: url('https://github.com/evanjmg/matrix-simple-chrome-extension/raw/master/giphy.gif') !important;
  background-size: cover !important;
  color: white !important;
  font-family: Courier !important;
}
.UnderlineNav,
.pagehead {
  background-color: darkgreen !important;
}
.Counter {
  color: lightgreen !important;
}
p,
a,
p.text-gray {
  color: white !important;
}
a {
  text-decoration: underline !important;
}
img.avatar {
  filter: sepia(100%) hue-rotate(60deg) !important;
}